.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadMore {
  cursor: pointer;
  background-color: white;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 7px 25px;
  font-size: 13px;
  margin-top: -20px;
  border-radius: 8px;
}
.loadMore:hover {
  background-color: darkslateblue;
  color: white;
}
